################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProyectoBlackJack21/ProyectoBlackJack21/obj
/ProyectoBlackJack21/.vs/ProyectoBlackJack21/v16/.suo
/ProyectoBlackJack21/Proyecto21.Jugabilidad/bin/Debug/netcoreapp3.1
/ProyectoBlackJack21/Proyecto21.Jugabilidad/obj
/ProyectoBlackJack21/Proyecto21.Models/bin/Debug/netcoreapp3.1
/ProyectoBlackJack21/Proyecto21.Models/obj
/ProyectoBlackJack21/Proyecto21.Naipe/bin/Debug/netcoreapp3.1
/ProyectoBlackJack21/Proyecto21.Naipe/obj
/ProyectoBlackJack21/ProyectoBlackJack21/bin/Debug/netcoreapp3.1
