################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProyectoBlackJack21/ProyectoBlackJack21/obj
/ProyectoBlackJack21/.vs/ProyectoBlackJack21/v16/.suo
